div[role="progresscircle"] {
  --fg: var(--bs-success);
  --bg: var(--bs-gray);
  --pgPercentage: var(--value);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: radial-gradient(
      closest-side,
      white 80%,
      transparent 0 99.9%,
      white 0
    ),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.w-max-content {
  width: max-content;
}

p {
  margin-bottom: 0;
}

.fs-7 {
  font-size: 0.75rem;
}

.fs-8 {
  font-size: 0.5rem;
}

.fs-9 {
  font-size: 0.25rem;
}

.bg-blue {
  background-color: var(--bs-blue);
}

.w-md {
  width: 8rem;
}
