.auth-background {
  /* background: rgb(2, 0, 36); */
  /* background: rgba(145, 0, 22, 1) 100%; */
  /* background: white; */
  background-color: aliceblue;
  /* background: linear-gradient(
    90deg,
    rgb(53, 47, 176) 0%,
     rgba(145, 0, 22, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  ); */
  margin-top: -16px;
}

.transparent,
.transparent:active,
.transparent:focus {
  background: transparent;
}

/* .bg-primary-gradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(145, 0, 22, 1) 40%,
    rgba(0, 212, 255, 1) 100%
  );
} */

.auth-input:-webkit-autofill,
.auth-input:-webkit-autofill:hover,
.auth-input:-webkit-autofill:focus,
.auth-input:-webkit-autofill:active {
  -webkit-text-fill-color: black !important;
  transition: background-color 5000s ease-in-out 0s;
}
