.add-college-btn {
  position: absolute;
  font-size: 2rem;
  margin: -34px;

  /* Plus button middle of image */
  /* bottom: -0.75rem;
  left: 20.833%; */
  /* 20.833 = 2.5/12; image:text ratio is 5:7, halfway across image is 1/2 (5/(7+5)) */

  /* Plus button middle right of card */
  /* right: -0.75rem; */
  /* top: 50%; */

  /* Plus button bottom "middle" of card between image and text */
  bottom: -0.75rem;
  left: 41.667%;
  /* 41.667 = 5/12, same image:text ratio idea as earlier */

  z-index: 10;
  padding-top: 0;
  padding-left: 12px;
  padding-right: 12px;

  /* Keeps white background on top of college card. */
  background-color: white;
}

.college-card {
  position: relative;
  z-index: 11;
}

a {
  display: block;
}

.bg-gray {
  background-color: gray;
}

.college-modal {
  z-index: 3000;
}

.college-submit {
  bottom: 0.75rem;
  right: 0.75em;
}

.college-close {
  bottom: 0.75rem;
  right: 6rem;
}
